th{
    font-weight:200;
}

.swal2-container {
    z-index: 100000;
}

.btn-info, .btn-primary, .alert-solid-info, .navbar.bg-primary {
    background-color: rgb(17,11,99)
}

.bg-primary {
    background-color: initial
}



